<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <div class="main_content">
         {{>header}}
   <img class="portrait"src="/img/rohit.jpg" alt="Rohit Kumar Das">
   <p>This site was creted by Rohit Kumar Das. it uses datafrom mapbox.com weatherstack.com</p>
    </div>
   
   
</body>
{{>footer}}
</html>