<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
  
</head>
<body>
    <div class="main_content">
        {{>header}}
   
    </div>

 {{>footer}} 
</body>

</html>