:root {
  --bg-color: #333;
  --primary-color: #f59f9f;
  --secondary-color: #ccc;
}
* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.main_content {
  width: 60%;
  flex-grow: 1;
}

footer {
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  padding: 1rem;
  margin-top: 1rem;
  border-top: 2px solid var(--secondary-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

header {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.portrait {
  height: 250px;
  width: 150px;
}

input {
  margin: 2rem 0;
  padding: 0 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  width: 400px;
  height: 2rem;
}

button {
  cursor: pointer;
  background-color: var(--bg-color);
  color: white;
  border: transparent;
  width: 2rem;
  height: 2rem;
}

nav ul {
  width: 100%;
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
nav a {
  text-decoration: none;
}

.form-container {
  text-align: center;
}
.result {
  text-align: center;
}
.result p {
  margin: 10px;
}

li a {
  padding: 10px;
}

li a:hover {
  background: #f59f9f;
  border-radius: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.btn-dark{
    display:  flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
